In [2]:
#Importing libaries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Looking into the dataset

In [4]:
df = pd.read_csv('Heart_Disease_Prediction.csv')
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [7]:
df2 = pd.read_csv('absence_label.csv')
df2.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
1,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
2,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
3,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
4,59,1,4,135,234,0,0,161,0,0.5,2,0,7,Absence

In [9]:
df3 = pd.read_csv('presence_label.csv')
df3.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
2,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
3,59,1,4,110,239,0,2,142,1,1.2,2,1,7,Presence
4,60,1,4,140,293,0,2,170,0,1.2,2,2,7,Presence

Focusing on the 'Heart_Disease_Prediction.csv' dataset

In [13]:
df.dtypes

Age                          int64
Sex                          int64
Chest pain type              int64
BP                           int64
Cholesterol                  int64
FBS over 120                 int64
EKG results                  int64
Max HR                       int64
Exercise angina              int64
ST depression              float64
Slope of ST                  int64
Number of vessels fluro      int64
Thallium                     int64
Heart Disease               object
dtype: object